

/**Globales**/

h1 ,h2, h3, h4 {
    font-family: PT Sans, sans-serif;
    line-height: 1.2;
}


h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

a {
    text-decoration: none;
}


/**Utils**/ 
.no_margin {
    margin: 0;
}
.no_padding {
    padding: 0;
}
.centrar_texto {
    text-align:center;
}

/**Header**/

.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/banner.webp);
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}


.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 4rem;
}
.logo{
    color:white
}
.logo_nombre {
    font-weight: 400;
}
.logo_bold {
    font-weight: 700;
}

.navegacion {
    display: flex;
    gap: 2rem;
    
}
.navegacion a {
    display: block;
    color:white;
    text-align: center;
    font-size: 2rem;
}

.header_texto {
    color:white;
    text-align: center;
    margin-top: 15rem;
}

.header_texto p {
    font-size: 2em;
}

.footer {
    background-color: black;
    padding-bottom: 3rem;
    margin-top: 3rem;
}
